@{
    ViewBag.Title = "Tu Peli";
}
<div class="index-header text-center">
    <div class="box">
        <div class="container-4">
            <input type="search" id="search" placeholder="Buscar pelicula" />
            <button class="icon" onclick="ApplyFilter(3)"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="filters">
        <button class="btn btn-primary btn-Tupeli" onclick="ApplyFilter(1)" >Mejor Calificadas</button>
        <button class="btn btn-primary btn-Tupeli" onclick="ApplyFilter(2)">Más Populares</button>
    </div>
</div>
<div class="index-body">
    @*<ul>
        @foreach(var movie in Model.results)
        {
        <li>@movie.title</li>
        }
    </ul>*@
   
    <div class="container">
        <div id="lastmovies">
            <h3>MÁS RECIENTES</h3>
            <div class="row">
                @foreach (var movie in Model.results)
                {

                    <div class="col-sm-3 peli-grid">
                        <a href='@Url.Action("Details", "Home",new { MovieId = @movie.id})'>
                            <p class="movie-title">@movie.title</p>
                            <img class="@movie.title" id="@movie.id" src="https://image.tmdb.org/t/p/w200/@movie.poster_path" />
                            <br />
                        </a>
                    </div>

                }
            </div>
        </div>
        <div id="movies">

        </div>
    </div>

</div>
<script>

    function ApplyFilter(id) {
        $("#lastmovies").hide();
        $("#movies").load("/Home/_MoviesFiltred",
            { filtre: id, search: $("#search").val() }, function () {

            });
    }
    
</script>

